body{
    background: url(https://cdn.pixabay.com/photo/2015/04/23/22/00/tree-736885_960_720.jpg);
    background-size: cover;
}
*{
    margin: 0;
    padding: 0;

}

.main{
    width: 100px;
    background-position: center;
    background-size: cover;
    height: 109vh;
    background: linear-gradient(to focus,rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(1.jpg);
    
}

.navber{
    width: 1200px;
    height: 75px;
    margin: auto;

}

.icon{
    width: 200px;
    float: left;
    height: 70px;

}

.logo{
    color: orange;
    font-size: 35px;
    font-family: Arial;
    padding-left: 20px;
    float: left;
    padding-top: 10px;
}

.menu{
    width: 500px;
    float: left;
    height: 70px;
}
ul{
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;

}

ul li{
    list-style: none;
    margin-left: 60px;
    margin-top: 25px;
    margin-bottom: 80px;
    font-size: 15px;
}

ul li a{
    text-decoration: none;
    color: white;
    font-family: arial;
    font-weight: bold;
    transition: 0.4s ease-in-out;

}
ul li a:hover{
    color: orange;
}
.search{
    width: 300px;
    float: left;
    margin: 250px;

}
.srrch{
    font-family: 'Times New Roman';
    width: 200px;
    height: 40px;
    background: transparent;
    border: 2px solid orange;
    margin-top: 15px;
    color: white;
    border-right: none;
    font-size: 15px;
    float: right;
    padding: 10px;
    border-top-left-radius: 5px;
    border-top-left-radius: 5px;
    
}
.btn{
    width: 100px;
    height: 50px;
    background: orange;
    border: 2px solid orange;
    margin-top: 15px;
    color: white;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    transition: 0.4s ease;

}
.btn:focus{
    outline: none;
}
.srch:focus{
    outline: none;
}

.content{
    width: 1200px;
    height: auto;
    margin: auto;
    color: aliceblue;
    position: relative;

}
.content .par{
    padding-left: 20px;
    padding-bottom: 25px;
    font-family: arial;
    letter-spacing: 1.2px;
    line-height: 30px;

}
.content h1{
    font-family: 'Times New Roman';
    font-size: 50px;
    padding-left: 20px;
    margin-top: 9%;
    letter-spacing: 2px;
}
.content .cn{
    width: 150px;
    height: 40px;
    background: orange;
    border: none;
    margin-bottom: 10px;
    margin-left: 20px;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    transform: 4s ease;

}
.content .cn a{
    text-decoration: none;
    color: black;
    transition: .3s ease;
}
.cn:hover{
    background-color: white;
}
.content span{
    color: orange;
    font-size: 60px;   
}

#form{
    width: 250px;
    height: 350px;
    border-radius: 10px;
    border: 2px solid brown;
    padding: 55px;
    bottom: 30px;
    top: 50px;
    left: 25px;
    position: absolute;
    position: center;
    background-position: center;

    background: linear-gradient(to top, rgba(0,0,0,0.8), rgba(0,0,0,0.5));
    
}
#form h2{
    width: 200px;
    font-family:sans-serif ;
    text-align: center;
    color: orange;
    font-size: 20px;
    background-color: rgb(169, 204, 169);
    border-radius: 10px;
    margin:2px ;
    padding: 8px;

}
#form input{
    width: 250px;
    height: 35px;
    background: transparent;
    border-bottom: 1px solid orange;
    border-top: none;
    border-right: none;
    border-left: none;
    color: white;
    font-size: 15px;
    letter-spacing: 1px;
    margin-top: 30px;
    font-family: sans-serif;
}
.form input:focus{
    outline: none;

}
::placeholder{
    color: white;
    font-family: arial;

}
.btnn{
    width: 250px;
    height: 40px;
    background: orange;
    border: none;
    margin-top: 30px;
    font-size: 20px;
    border-radius: 10px;
    cursor: pointer;
    color: white;
    transition: 0.4s ease;
}
.btnn{
    background: white;
    color: orange;
}
.btnn a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}
.form .link{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    padding-top: 20px;
    text-align: center;

}
.form .link a{
    text-decoration: none;
    color: orange;
}
liw{
    padding-top: 15px;
    padding-bottom: 10px;
    text-align: center;
}
.icons a{
    text-decoration: none;
    color: white;
    padding: 50px;
    text-align: center;
}
.icons ion-icon{
    color: white;
    font-size: 30px;
    padding-left: 30px;
    padding-top: 5px;
    transition: 0.2s ease;

}
.icons ion-icon{
    color: rgb(188, 131, 24);
}